@model IEnumerable<ClinicaVeterinaria.Models.TipologiaAnimale>

@{
    ViewBag.Title = "Tipologia Animali";
}

    <h2>Tipologie animali</h2>


    <p>

        @Html.ActionLink("<", "Index", "Animale", null, new { @class = "btn btn-sm", style = "background-color:darkgrey; color:white;" })
        @Html.ActionLink("Aggiungi tipologia animale", "Create", null, new { @class = "btn btn-sm", style = "background-color:#91c493; color:white;" })
    </p>
    <table class="table" style="max-width: 500px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="d-flex justify-content-end gap-2">
                    @Html.ActionLink("Modifica", "Edit", new { id = item.ID_TipologiaAnimale }, new { @class = "btn btn-sm", style = "background-color:cornflowerblue; color:white;" })
                    <button type="button" class="btn btn-sm" style="background-color: gray; color: white;" data-bs-toggle="modal" data-bs-target="@("#delete" + item.ID_TipologiaAnimale)">
                        X
                    </button>
                    <div class="modal fade" id="@("delete" + item.ID_TipologiaAnimale)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content border border-2 border-danger rounded-2">
                                <div class="modal-header">
                                    @*<h1 class="modal-title fs-5" id="deleteLabel">Conferma acquisto</h1>*@
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Vuoi cancellare <span class="fw-bold">@item.Nome</span> dalla lista? <br /> <br />
                                    <p>Eliminando questa tipologia, si cancelleranno: <br />
                                    - Tutti gli animali di tipo @item.Nome <br />
                                    - Tutte le visite dei relativi animali.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        @Html.ActionLink("Sì", "Delete", new { id = item.ID_TipologiaAnimale }, new { @class = "btn btn-sm btn-outline-danger fw-bold", onclick="return confirm('Sicuro sicuro sicurissimo?')" })
                                    </div>
                                    <button type="button" class="btn btn-sm btn-outline-secondary fw-bold" data-bs-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>
    <p>
        
    </p>