<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>@ViewBag.Title - PET Clinic</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bx-menu'></i>
            <span class="logo_name">PET Clinic</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="~/Home/Index">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Home</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="~/Home/Index">Home</a></li>
                </ul>
            </li>

            <li>
                <div class="iocn-link">
                    <a href="~/Animale/CercaByChip">
                        <i class='bx bx-compass'></i>
                        <span class="link_name">Ricerca</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="~/Animale/CercaByChip">Ricerca</a></li>
                    <li><a href="~/Animale/CercaByChip">- Cerca animale</a></li>
                    <li><a href="~/Animale/Ritrovati">- Animali Ritrovati</a></li>
                </ul>
            </li>

            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <div class="iocn-link">
                        <a href="~/Animale/Index">
                            <i class='bx bx-plug'></i>
                            <span class="link_name">Admin</span>
                        </a>
                        <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="~/Animale/Index">Admin</a></li>
                        <li><a href="~/Animale/Index">- Gestione animali</a></li>
                        <li><a href="~/Utente/Index">- Gestione dipendenti</a></li>
                    </ul>
                </li>
            }
            <li>
                <div class="iocn-link">
                    <a href="~/Home/About">
                        <i class='bx bx-cog'></i>
                        <span class="link_name">Crediti</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="~/Home/About">Crediti</a></li>
                    <li><a href="~/Home/About">- Primario S. Ponzani</a></li>
                    <li><a href="~/Home/About">- Dott. B. Stano</a></li>
                    <li><a href="~/Home/About">- Veter. L. Senatore</a></li>
                    <li><a href="~/Home/About">- Dott. N. Lerra</a></li>
                    <li><a href="~/Home/About">- Chirurgo A. Pourbijan</a></li>
                </ul>
            </li>

            <li>
                <a href="~/Home/Contact">
                    <i class='bx bx-info-circle'></i>
                    <span class="link_name">Contattaci</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="~/Home/Contact">Contattaci</a></li>
                </ul>
            </li>

            <li>
                <div class="profile-details ">
                    <div class="profile-content">
                        <img class="bx bx-menu" width="50" src="~/Content/img/PETSpecialistTrasparent.png" />
                    </div>


                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="name-job">
                            <div class="profile_name">@User.Identity.Name</div>
                        </div>
                        <a href="~/Utente/Logout"><i class='bx bx-log-out'></i></a>
                    }
                    else
                    {
                        <div class="name-job">
                            <div class="profile_name">Area riservata</div>
                        </div>
                        <a href="~/Utente/Login">
                            <i class='bx bx-log-in'></i>
                        </a>
                    }

                </div>
            </li>
        </ul>
    </div>

    <section class="home-section">
        <div class="m-5 "> @RenderBody()</div>
        <footer class="m-5 text-muted text-center">
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET - MVC 5 - Entity Framework 6 - Microsoft Server SQL</p>
        </footer>
    </section>





    <script type="text/javascript">
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.getElementsByClassName("bx-menu");
        console.log(sidebarBtn);
        sidebarBtn[0].addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
        sidebarBtn[1].addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
    <script type="text/javascript">
        //hasMicrochip
        let hasMicrochip;
        if ($("#Microchip").is(":checked")) {
            showMicrochip()
        } else {
            hideMicrochip();
        }

        $("#Microchip").click(function () {
            if (hasMicrochip) {
                hideMicrochip();
            } else {
                showMicrochip()
            }
        });

        function hideMicrochip() {
            $("#NumeroMicrochip").hide();
            $(".numeroMicrochip").hide();
            hasMicrochip = false;
        }
        function showMicrochip() {

            $("#NumeroMicrochip").show();
            $(".numeroMicrochip").show();
            hasMicrochip = true;
        }
        //isLost
        let isLost;
        if ($("#Smarrito").is(":checked")) {
            showSmarrito()
        } else {
            hideSmarrito();
        }

        $("#Smarrito").click(function () {
            if (isLost) {
                hideSmarrito();
            } else {
                showSmarrito()
            }
        });

        function hideSmarrito() {
            $(".smarrito-form").hide();
            $(".proprietario-form").show();
            isLost = false;
        }
        function showSmarrito() {
            $(".smarrito-form").show();
            $(".proprietario-form").hide();
            isLost = true;
        }

    </script>

    <script src="~/Scripts/vallina-tilt.js"></script>
</body>
</html>
