@model ClinicaVeterinaria.Models.Utente

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Amministrazione</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Psw, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Psw, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                @Html.ValidationMessageFor(model => model.Psw, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 mt-3">
                <input type="submit" value="Login" class="btn w-100 mt-3" style="background-color: cornflowerblue; color: white;" />
            </div>
        </div>
    </div>
}

<span class="text-danger">@ViewBag.Error</span>

@*<p class="mt-4">Se non sei registrato, clicca @Html.ActionLink("qui", "Create", null, new { @class = "text-decoration-underline", }) per la registrazione</p>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
